.css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.css-o69gx8-MuiCardMedia-root, .css-rhsghg {
  width: 50% !important;
  margin: 0 auto !important;
}

.css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root :is(.name-type) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-type :is(.MuiTypography-root) {
  margin: 0 20px;
  text-transform: capitalize
}

@media screen and (max-width: 468px) {
  .css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root :is(.name-type) {
    display: block;
  }
}

.css-2bi4m2-MuiContainer-root {margin: 0 auto !important;}